{#
/**
 * @file
 * Theme override for nodes in the oEmbed view mode.
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
    'oembed-node',
  ]
%}

<article{{ attributes.addClass(classes) }}>
  <header>
    {{ title_prefix }}
    {% if label %}
      <h1{{ title_attributes.addClass('node__title') }}>{{ label }}</h1>
    {% endif %}
    {{ title_suffix }}
    {% if display_submitted %}
      <div class="node__meta">
        {% block submitted %}
          <em{{ author_attributes }}>
            {% trans %}Submitted by {{ author_name }} on {{ date }}{% endtrans %}
          </em>
        {% endblock %}
      </div>
    {% endif %}
  </header>

  <div{{ content_attributes.addClass('node__content', 'oembed-node__content') }}>
    {% if content.display_media is defined and content.display_media|render|striptags|trim is not empty %}
      <div class="oembed-media">{{ content.display_media }}</div>
      {{ content|without('display_media') }}
    {% elseif content.field_media is defined and content.field_media|render|striptags|trim is not empty %}
      <div class="oembed-media">{{ content.field_media }}</div>
      {{ content|without('field_media') }}
    {% else %}
      {{ content }}
    {% endif %}
  </div>
</article>
