{#
/**
* @file
* Bootstrap Barrio's theme implementation to display a single page.
*
* The doctype, html, head and body tags are not in this template. Instead they
* can be found in the html.html.twig template normally located in the
* core/modules/system directory.
*
* Available variables:
*
* General utility variables:
* - base_path: The base URL path of the Drupal installation. Will usually be
* "/" unless you have installed Drupal in a sub-directory.
* - is_front: A flag indicating if the current page is the front page.
* - logged_in: A flag indicating if the user is registered and signed in.
* - is_admin: A flag indicating if the user has permission to access
* administration pages.
*
* Site identity:
* - front_page: The URL of the front page. Use this instead of base_path when
* linking to the front page. This includes the language domain or prefix.
* - logo: The url of the logo image, as defined in theme settings.
* - site_name: The name of the site. This is empty when displaying the site
* name has been disabled in the theme settings.
* - site_slogan: The slogan of the site. This is empty when displaying the site
* slogan has been disabled in theme settings.

* Page content (in order of occurrence in the default page.html.twig):
* - node: Fully loaded node, if there is an automatically-loaded node
* associated with the page and the node ID is the second argument in the
* page's path (e.g. node/12345 and node/12345/revisions, but not
* comment/reply/12345).
*
* Regions:
* - page.top_header: Items for the top header region.
* - page.top_header_form: Items for the top header form region.
* - page.header: Items for the header region.
* - page.header_form: Items for the header form region.
* - page.highlighted: Items for the highlighted region.
* - page.primary_menu: Items for the primary menu region.
* - page.secondary_menu: Items for the secondary menu region.
* - page.featured_top: Items for the featured top region.
* - page.content: The main content of the current page.
* - page.sidebar_first: Items for the first sidebar.
* - page.sidebar_second: Items for the second sidebar.
* - page.featured_bottom_first: Items for the first featured bottom region.
* - page.featured_bottom_second: Items for the second featured bottom region.
* - page.featured_bottom_third: Items for the third featured bottom region.
* - page.footer_first: Items for the first footer column.
* - page.footer_second: Items for the second footer column.
* - page.footer_third: Items for the third footer column.
* - page.footer_fourth: Items for the fourth footer column.
* - page.footer_fifth: Items for the fifth footer column.
* - page.breadcrumb: Items for the breadcrumb region.
*
* Theme variables:
* - navbar_top_attributes: Items for the header region.
* - navbar_attributes: Items for the header region.
* - content_attributes: Items for the header region.
* - sidebar_first_attributes: Items for the highlighted region.
* - sidebar_second_attributes: Items for the primary menu region.
* - sidebar_collapse: If the sidebar_first will collapse.
*
* @see template_preprocess_page()
* @see bootstrap_barrio_preprocess_page()
* @see html.html.twig
*/
#}
<header id="header" class="header" role="banner" aria-label="{{ 'Site header'|t}}">
	{% block head %}
		{% if page.secondary_menu or page.top_header or page.top_header_form %}
			<div class="container">
				<nav{{navbar_top_attributes}}>
					{{ page.secondary_menu }}

					<div class="me-auto">{{ page.top_header }}</div>
					<div class="">
						{% if page.top_header_form %}
							<div class="form-inline navbar-form ms-auto">
								{{ page.top_header_form }}
							</div>
						{% endif %}
					</div>
				</nav>
			</div>
		{% endif %}
		<div class="bg-primary">
			<nav{{navbar_attributes}}>
				<div class="container">
					{{ page.header }}
					{% if page.primary_menu or page.header_form %}
						<button class="navbar-toggler ms-auto" type="button" data-bs-toggle="{{ navbar_collapse_btn_data }}" data-bs-target="#CollapsingNavbar" aria-controls="CollapsingNavbar" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon"></span>
						</button>
						<div class="">
							<div class="{{ navbar_collapse_class }}" id="CollapsingNavbar">
								{% if navbar_offcanvas %}
									<div class="offcanvas-header">
										<button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
									</div>
									<div class="offcanvas-body">
								{% endif %}

								<div class="navbar-nav me-auto mb-2 mb-lg-0">
									{{ page.primary_menu }}
								</div>
								{% if page.header_form %}
									<div class="form-inline navbar-form">
										{{ page.header_form }}
									</div>
								{% endif %}
								{% if navbar_offcanvas %}
									</div>
								{% endif %}
							</div>
						</div>
					{% endif %}
					{% if sidebar_collapse %}
						<button class="navbar-toggler navbar-toggler-left collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#CollapsingLeft" aria-controls="CollapsingLeft" aria-expanded="false" aria-label="Toggle navigation"></button>
					{% endif %}
				</div>
			</nav>
		</div>
	{% endblock %}
</header>
{% if page.highlighted %}
	<div class="highlighted p-3">
		<aside class="{{ container }} section clearfix" role="complementary">
			{{ page.highlighted }}
		</aside>
	</div>
{% endif %}
{% if page.featured_top %}
	{% block featured %}
		<div class="featured-top">
			{{ page.featured_top }}
		</div>
	{% endblock %}
{% endif %}

<div id="main-wrapper" class="layout-main-wrapper clearfix">
	{% block content %}
		{% set sidebar_first_classes = (page.sidebar_first and page.sidebar_second) ? 'col-12 col-sm-6 col-lg-3' : 'col-12 col-lg-3' %}
		{% set sidebar_second_classes = (page.sidebar_first and page.sidebar_second) ? 'col-12 col-sm-6 col-lg-3' : 'col-12 col-lg-3' %}
		{%
			set content_classes = (page.sidebar_first and page.sidebar_second) ? 'col-12 col-lg-6' : ((page.sidebar_first or page.sidebar_second) ? 'col-12 col-lg-9' : 'col-12' )
		%}
		<div id="main" class="{{ container }}">
			<div class="">
				{% if page.breadcrumb %}
					{{ page.breadcrumb }}
				{% endif %}
				<div class="row">
				{% if page.sidebar_first %}
					<div {{sidebar_first_attributes.addClass("order-2 order-lg-1 {{ sidebar_first_classes }}")}}>
					{{ page.sidebar_first }}
					</div>
				{% endif %}
				<main{{content_attributes.addClass("order-1 order-lg-2 {{ content_classes }}")}}>
					<section class="section">
						<a id="main-content" tabindex="-1"></a>
					</section>
					<section class="section featured-collections my-4 bg-light p-3 rounded">
						<h2 class="display-6 border-bottom border-danger mb-4">{{ 'Featured Collections'|t }}</h2>
						<div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4">
							<div class="col">
								<div class="card h-100">
									<a href="{{ url('<front>') }}/clara-thomas-archives-special-collections/jean-augustine-fonds"><img src="/{{ directory }}/images/featured-collection-jean.jpg" class="card-img-top" alt="Jean Augustine fonds"></a>
									<div class="card-body">
										<h4 class="card-title text-center">Jean Augustine</h4>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card h-100">
									<a href="{{ url('<front>') }}/clara-thomas-archives-special-collections/mariposa-folk-foundation-fonds"><img src="/{{ directory }}/images/featured-collection-mariposa-folk-foundation.jpg" class="card-img-top" alt="Mariposa Folk Foundation fonds"></a>
									<div class="card-body">
										<h4 class="card-title text-center">Mariposa Folk Foundation</h4>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card h-100">
									<a href="{{ url('<front>') }}/clara-thomas-archives-special-collections/toronto-telegram"><img src="/{{ directory }}/images/featured-collection-toronto-telegram.jpg" class="card-img-top" alt="Toronto Telegram fonds"></a>
									<div class="card-body">
										<h4 class="card-title text-center">Toronto Telegram</h4>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card h-100">
									<a href="{{ url('<front>') }}/clara-thomas-archives-special-collections/east-asian-resource-centre-collection"><img src="/{{ directory }}/images/featured-collection-east-asian-resource-centre.jpg" class="card-img-top" alt="East Asian Resource Centre collection"></a>
									<div class="card-body">
										<h4 class="card-title text-center">East Asian Resource Centre Collection</h4>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card h-100">
									<a href="{{ url('<front>') }}/clara-thomas-archives-special-collections/john-yolton-collection"><img src="/{{ directory }}/images/featured-collection-yolton.jpg" class="card-img-top" alt="Yolton Library Rare Book Collection"></a>
									<div class="card-body">
										<h4 class="card-title text-center">Yolton Library Rare Book Collection</h4>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card h-100">
									<a href="{{ url('<front>') }}/clara-thomas-archives-special-collections/kenneth-shah-fonds"><img src="/{{ directory }}/images/featured-collection-kenneth-shah.jpg" class="card-img-top" alt="Kenneth Shah fonds"></a>
									<div class="card-body">
										<h4 class="card-title text-center">Kenneth Shah</h4>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card h-100">
									<a href="{{ url('<front>') }}/clara-thomas-archives-special-collections/york-university-photograph-collection-fonds"><img src="/{{ directory }}/images/featured-collection-york-photographs.jpg" class="card-img-top" alt="York University Photograph collection fonds"></a>
									<div class="card-body">
										<h4 class="card-title text-center">York University Photograph Collection</h4>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card h-100">
									<a href="{{ url('<front>') }}/clara-thomas-archives-special-collections/historical-map-collection"><img src="/{{ directory }}/images/featured-collection-historical-maps.jpg" class="card-img-top" alt="Historical Map Collections"></a>
									<div class="card-body">
										<h4 class="card-title text-center">Historical Map Collection</h4>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card h-100">
									<a href="{{ url('<front>') }}/national-round-table-environment-and-economy"><img src="/{{ directory }}/images/featured-collection-ntree.jpg" class="card-img-top" alt="National Round Table for the Environment and the Economy"></a>
									<div class="card-body">
										<h4 class="card-title text-center">National Round Table for the Environment and the Economy</h4>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card h-100">
									<a href="{{ url('<front>') }}/sound-and-moving-image-library-smil/golha-programmes"><img src="/{{ directory }}/images/featured-collection-golha.jpg" class="card-img-top" alt="The Golha Programmes"></a>
									<div class="card-body">
										<h4 class="card-title text-center">The Golha Programmes</h4>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card h-100">
									<a href="{{ url('<front>') }}/clara-thomas-archives-special-collections/george-papadatos-fonds"><img src="/{{ directory }}/images/featured-collection-george-papadatos.jpg" class="card-img-top" alt="George Papadatos fonds"></a>
									<div class="card-body">
										<h4 class="card-title text-center">George Papadatos</h4>
									</div>
								</div>
							</div>
							<div class="col">
								<div class="card h-100">
									<a href="{{ url('<front>') }}/clara-thomas-archives-special-collections/lou-wise-fonds"><img src="/{{ directory }}/images/featured-collection-lou-wise.jpg" class="card-img-top" alt="Lou Wise fonds"></a>
									<div class="card-body">
										<h4 class="card-title text-center">Lou Wise</h4>
									</div>
								</div>
							</div>

						</div>
						<div class="d-grid gap-2 my-4">
							<a class="btn btn-primary btn-lg" aria-current="page" href="{{ url('<front>') }}/explore/collections">{{ 'Explore more collections'|t }}</a>
						</div>
					</section>
				</main>
				{% if page.sidebar_second %}
					<div{{sidebar_second_attributes.addClass("order-3 {{ sidebar_second_classes }}")}}>
					{{ page.sidebar_second }}
					</div>
				{% endif %}
				</div>
			</div>
		</div>
	{% endblock %}
</div>

{% if page.featured_bottom_first or page.featured_bottom_second or page.featured_bottom_third %}
	<div class="featured-bottom">
		<aside class="{{ container }} clearfix" role="complementary">
			{{ page.featured_bottom_first }}
			{{ page.featured_bottom_second }}
			{{ page.featured_bottom_third }}
		</aside>
	</div>
{% endif %}

<footer>

	<div class="bg-primary p-4 text-white pb-0">
		<div class='container small extra_footer py-3'>
			<div class="row">
				<div class="col-md-2">
					<a href="https://www.yorku.ca"><img src="https://www.library.yorku.ca/web/wp-content/themes/york2020/images/yorku-logo-ko.png" class="w-100" alt="York University"></a>
				</div>
				<div class="col-md-2">
					<ul class="list-unstyled">
						<li><span class="fw-bold fs-6 text-decoration-none">Keele Campus</span></li>
						<li class="text-decoration-none">4700 Keele Street, M3J 1P3, Toronto, ON, Canada</li>
						<li><a href="tel:4167362100" class="text-white">(416) 736-2100</a></li>
						<li><a href="https://map.concept3d.com/?id=1200#!s/?ct/29101,29093" class="text-white">Campus Maps</a></li>
					</ul>
				</div>
				<div class="col-md-2">
					<h6 class="fw-bold">{{ 'Library Resources'|t }}</h6>
					<ul class="list-unstyled">
						<li><a class="text-white" href="/terms-of-use">Terms of Use</a></li>
						<li><a class="text-white" href="https://www.library.yorku.ca/web/about-us/library-policies/digital-preservation-policy/collection-policy/">Collection Policy</a></li>
						<li><a class="text-white" href="https://www.library.yorku.ca/web/about-us/departments/digital-scholarship-infrastructure/">Digital Scholarship Infrastructure</a></li>
						<li><a class="text-white" href="https://yorkspace.library.yorku.ca">YorkSpace</a></li>
						<li><a class="text-white" href="https://www.library.yorku.ca/web/collections/discover-our-collections/york-digital-journals-3/">York Digital Journals</a></li>
					</ul>
				</div>
				<div class="col-md-2">
					<h6 class="fw-bold">{{ 'Additional Links'|t }}</h6>
					<ul class="list-unstyled">
						<li><a href="https://www.yorku.ca/safety/" class="text-white">Community Safety</a></li>
						<li><a href="https://www.yorku.ca/about/privacy-legal/" class="text-white">Privacy &amp; Legal</a></li>
						<li><a href="https://accessibility.students.yorku.ca/" class="text-white">Accessibility</a></li>
						<li><a href="https://www.yorku.ca/about/careers/" class="text-white">Careers</a></li>
						<li><a class="text-white" href="https://www.library.yorku.ca/">YorkU Libraries</a></li>
					</ul>
				</div>
				<div class="col-md-2">
					<h6 class="fw-bold">{{ 'Get in Touch'|t }}</h6>
					<ul class="list-unstyled">
						<li><a class="text-white" href="/contact">{{ 'Questions / Feedback'|t }}</a></li>
						<li><a class="text-white" href="/contact/suggest_a_correction">{{ 'Suggest a correction'|t }}</a></li>
					</ul>
					<h6 class="fw-bold">{{ 'Follow Along'|t }}</h6>
					<ul class="list-unstyled">
						<li><i class="fa-solid fa-rss text-white"></i> <a class="text-white" href="/feed">{{ 'New items'|t }}</a></li>
						<li><a class="text-white" href="https://www.library.yorku.ca/web/blog/category/news/">Library News</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	{% if page.footer_fifth %}
	<div class='container'>
		<div class='col'>
			{{ page.footer_fifth }}
		</div>
	</div>
	{% endif %}
</footer>
