<header>
    {{page.header}}
    {{page.menu}}
    <div class="navbar shadow-sm york_red">
        <div class="container">
            <a href="#" class="navbar-brand d-flex align-items-center">
            <img class="york_logo" src="images/YorkULogo_DIGITAL_Ver_RGB-30x31.png">
                <img class="yorku_logo" src="https://www.yorku.ca/uit/designsystem/wp-content/uploads/sites/462/2022/05/YorkULogo_DIGITAL_Ver_RGB-286x300.png">
            </a>
            {{page.secondary_menu}}
        </div>
    </div>
</header>

<main>
    <section class="container">
        <div class="row">
            {{page.content}}
        </div>
    </section>
</main>
<footer class="text-muted">
    <div class="container">
        {{page.footer}}
    </div>
</footer>